---
import Item from "./Item.astro";
import { IconClose } from "../icons/Icons";
---

<div
  id="cart-list"
  class="lg:w-1/4 w-full p-3 fixed overflow-y-auto overflow-x-hidden right-0 top-0 min-h-screen max-h-screen bg-slate-700 z-10 transition-transform duration-75 translate-x-full"
>
  <svg
    id="close-cart-list"
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-square-rounded-x-filled cursor-pointer"
    width="30"
    height="30"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <IconClose />
  </svg>

  <section class="flex flex-col gap-2 mt-2">
    <Item
      id={1}
      name="este es el nombre del product 1 que acasas"
      price={300}
      img="http://localhost:1337/uploads/large_astro_3c536f08f6.jpg"
    />
    <Item
      id={1}
      name="este es el nombre del product 1 que acasas"
      price={300}
      img="http://localhost:1337/uploads/large_astro_3c536f08f6.jpg"
    />
    <Item
      id={1}
      name="este es el nombre del product 1 que acasas"
      price={300}
      img="http://localhost:1337/uploads/large_astro_3c536f08f6.jpg"
    />
  </section>
</div>
<script>
  document
    .querySelector("#close-cart-list")
    ?.addEventListener("click", () =>
      document.getElementById("cart-list")?.classList.toggle("translate-x-full"),
    );
</script>
<style>
  #cart-list.show {
    transform: translateX(0);
  }
</style>