---
import {
  IconTablerBrandTelegram,
  IconX,
  IconGithub,
  IconLinkedin,
  IconInstagram,
  IconUserEdit,
} from "../icons/Icons";
import Modal from "../Modal.astro";

interface Props {
  biography: string;
  githubLink: string;
  instagramLink: string;
  LinkedInLink: string;
}

const { biography, githubLink, instagramLink, LinkedInLink } = Astro.props;
---

<!-- Main modal -->
<Modal>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div
      class="mx-auto lg:max-w-lg md:max-w-sm bg-slate-800 p-8 flex flex-col rounded-md gap-4"
    >
      <!-- Modal header -->
      <div class="flex items-center justify-between">
        <button
          type="button"
          class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="authentication-modal"
        >
          <IconX width="25" height="25" />
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div>
        <h1 class="text-center flex justify-center text-3xl">
          <!-- Editar mis datos -->
          <span class="p-4 bg-blue-500 rounded-full text-white">
            <IconUserEdit width="40" height="40" />
          </span>
        </h1>
        <form method="POST" class="flex flex-col mt-2">
          <label
            class="flex items-center gap-x-2 my-2 w-full text-slate-400 font-semibold"
          >
            <IconLinkedin width="35" height="35" />
            <input
              type="text"
              name="Linkedin"
              placeholder="https://www.linkedin.com/in/my-user"
              value={LinkedInLink}
              class="w-full rounded-md my-1 bg-transparent border border-slate-400 p-1 text-slate-500 focus:text-slate-300"
            />
          </label>
          <label
            class="flex items-center gap-x-2 my-2 w-full text-slate-400 font-semibold"
          >
            <IconGithub width="35" height="35" />
            <input
              type="text"
              name="githubLink"
              placeholder="https://github.com/my-user"
              value={githubLink}
              class="w-full rounded-md my-1 bg-transparent border border-slate-400 p-1 text-slate-500 focus:text-slate-300"
            />
          </label>
          <label
            class="flex items-center gap-x-2 my-2 w-full text-slate-400 font-semibold"
          >
            <IconInstagram width="35" height="35" />
            <input
              type="text"
              name="instagramLink"
              value={instagramLink}
              placeholder="https://www.instagram.com/my-user"
              class="w-full rounded-md my-1 bg-transparent border border-slate-400 p-1 text-slate-500 focus:text-slate-300"
            />
          </label>
          <label
            class="flex flex-col my-2 text-lg text-slate-400 font-semibold"
          >
            Biografía:
            <textarea
              name="biography"
              id="biography"
              class="rounded-md my-1 bg-transparent border border-slate-400 p-3 text-slate-500 focus:text-slate-300"
              >{biography}</textarea
            >
          </label>
          <button
            type="submit"
            class="flex-row text-2xl w-1/2 mx-auto
    justify-center cursor-pointer hover:bg-slate-700
    focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50
    font-medium rounded-lg p-2.5 text-center
    inline-flex items-center dark:focus:ring-[#1da1f2]/55
    hover:shadow-lg transition-all duration-200
    ease-in-out hover:scale-105 scale-90 gap-x-2
    opacity-90 hover:opacity-100"
          >
            <IconTablerBrandTelegram width="25" height="25" />

            Enviar</button
          >
        </form>
      </div>
    </div>
  </div>
</Modal>