---
import Layout from "../layouts/Layout.astro";


---

<Layout title="About">
 <h1>Sobre Nosotros</h1>
 <p class="text-justify pt-6">Bienvenido a [Nombre de la Empresa], donde nos dedicamos a [descripción breve de la misión o los servicios de la empresa]. Nuestra pasión por [industria o actividad] nos impulsa a ofrecer productos y servicios de la más alta calidad a nuestros clientes.</p>

 <h2 class="mt-14 pb-6">Nuestra Misión</h2>
 <p>En [Nombre de la Empresa], nuestra misión es [descripción de la misión]. Nos esforzamos por [objetivos clave o valores fundamentales].</p>

 <h2 class="mt-14 pb-6">Nuestra Historia</h2>
 <p>[Nombre de la Empresa] fue fundada en [año de fundación] por [nombre del fundador o equipo fundador], con la visión de [visión inicial]. Desde entonces, hemos crecido y evolucionado, pero nuestra dedicación a [valores fundamentales o misión] ha permanecido constante.</p>

 <h2 class="mt-14 pb-6">Conoce a Nuestro Equipo</h2>
 <div class="team">
   <div class="team-member">
     <img src="[URL de la imagen]" alt="Foto de [Nombre del Miembro del Equipo]">
     <h3 class="mt-14 pb-6">[Nombre del Miembro del Equipo]</h3>
     <p>[Título o Puesto]</p>
   </div>
   <div class="team-member">
     <img src="[URL de la imagen]" alt="Foto de [Nombre del Miembro del Equipo]">
     <h3 class="mt-14 pb-6">[Nombre del Miembro del Equipo]</h3>
     <p>[Título o Puesto]</p>
   </div>
   <div class="team-member">
     <img src="[URL de la imagen]" alt="Foto de [Nombre del Miembro del Equipo]">
     <h3 class="mt-14 pb-6">[Nombre del Miembro del Equipo]</h3>
     <p>[Título o Puesto]</p>
   </div>
 </div>

 <h2 class="mt-14 pb-6">Contáctanos</h2>
 <p>Estamos siempre disponibles para escuchar de usted. Si tiene alguna pregunta o desea saber más sobre nuestros servicios, no dude en ponerse en contacto con nosotros en:</p>
 <p>
   [Dirección Postal]<br>
   [Correo Electrónico]<br>
   [Teléfono]
 </p>
</Layout>