---
import Layout from "../layouts/Layout.astro";
import { PUBLIC_COMPANY_NAME } from "../env/config";

---

<Layout title="About">
 <h1>Sobre Nosotros</h1>
 <p class="text-justify pt-6">Bienvenido a {PUBLIC_COMPANY_NAME}, donde nos dedicamos a proporcionar soluciones innovadoras y de alta calidad en el diseño y desarrollo de plantillas web. Nuestra pasión por la tecnología nos impulsa a ofrecer productos y servicios de la más alta calidad a nuestros clientes, ayudándoles a llevar sus proyectos al siguiente nivel.</p>

 <h2 class="mt-14 pb-6">Nuestra Misión</h2>
 <p>En {PUBLIC_COMPANY_NAME}, nuestra misión es revolucionar la industria tecnológica mediante la creación de plantillas web excepcionales y la publicación de propuestas de proyectos de sistemas que destacan por su innovación y funcionalidad. Nos esforzamos por ofrecer soluciones que no solo satisfacen, sino que superan las expectativas de nuestros clientes.</p>

 <h2 class="mt-14 pb-6">Nuestra Historia</h2>
 <p>{PUBLIC_COMPANY_NAME} fue fundada en 2024 por un grupo de entusiastas del diseño y desarrollo web con la visión de transformar la manera en que las empresas y desarrolladores interactúan con las plantillas y los proyectos de sistemas. Desde entonces, hemos crecido y evolucionado, pero nuestra dedicación a la innovación y la calidad ha permanecido constante.</p>

 <h2 class="mt-14 pb-6">Contáctanos</h2>
 <p>Estamos siempre disponibles para escuchar de usted. Si tiene alguna pregunta o desea saber más sobre nuestros servicios, no dude en ponerse en contacto con nosotros en:</p>
 <p>
   Calle Ejemplo 123, Ciudad, País<br>
   contacto@empresa.com<br>
   +123 456 7890
 </p>
</Layout>
