---
import Layout from "../layouts/Layout.astro";
import PrettyForm from "../components/common/PrettyForm.astro";
import { PUBLIC_COMPANY_NAME } from "../env/config";
export const prerender = false
const userEmail = Astro.cookies.get("email")?.value;

---

<Layout title="Contacto">
 <PrettyForm>
  <img
      src="/public/favicon.svg"
      alt="icon"
      width="60"
      height="60"
      slot="header-before-form"
      class="mx-auto bg-white rounded-lg"
    />
    <h1 slot="header-before-form" class="text-center text-3xl" >
      Bienvenido a {PUBLIC_COMPANY_NAME}
    </h1>
    <span slot="header-before-form" class="text-center text-lg text-slate-500">
      Contáctese con {PUBLIC_COMPANY_NAME}
    </span>
  <section>
   <label for="email-sender" class="block text-slate-500 dark:text-white text-sm font-bold"
    >Remitente:</label
   >
   <input
    type="email"
    id="email-sender"
    placeholder="my-user@gmail.com"
    value={userEmail ?? ''}
    name="email-sender"
    class="w-full rounded-md my-1 bg-transparent border border-slate-400 p-1 text-slate-500 focus:text-slate-300"
    required
   />
  </section>
  <br />
  <section>
   <label for="subject" class="block text-slate-500 dark:text-white text-sm font-bold"
    >Asunto:</label
   >
   <input
    type="text"
    id="subject"
    name="subject"
    placeholder="Este es el asunto..."
    class="w-full rounded-md my-1 bg-transparent border border-slate-400 p-1 text-slate-500 focus:text-slate-300"
    required
   />
  </section>
  <br />
  <section>
   <label for="message" class="block text-slate-500 dark:text-white text-sm font-bold"
    >Mensaje:</label
   >
   <textarea
    id="message"
    name="message"
    rows="8"
    placeholder="Buenos días, necesito..."
    class="w-full rounded-md mt-1 bg-transparent border border-slate-400 p-1 text-slate-500 focus:text-slate-300"
    required></textarea>
  </section>
  <br />
 </PrettyForm>
 <form id="contactForm" method="post" class="tex-gray-800 p-3"></form>
</Layout>
