---
import Layout from "../layouts/Layout.astro";
const userEmail = Astro.cookies.get('userEmail')?.value

---

<Layout title="Contacto">
 <form id="contactForm" method="post" class="tex-gray-800 p-3">
  <div>
   <label for="email-sender" class="block text-white text-sm font-bold"
    >Remitente:</label
   >
   <input
    type="email"
    id="email-sender"
    value={userEmail}
    name="email-sender"
    class="mt-1 block w-full rounded-md p-2 bg-slate-800"
    required
   />
  </div>
  <br />
  <div>
   <label for="subject" class="block text-white text-sm font-bold"
    >Asunto:</label
   >
   <input
    type="text"
    id="subject"
    name="subject"
    class="mt-1 block w-full rounded-md p-2 bg-slate-800"
    required
   />
  </div>
  <br />
  <div>
   <label for="message" class="block text-white text-sm font-bold"
    >Mensaje:</label
   >
   <textarea
    id="message"
    name="message"
    rows="12"
    class="mt-1 block w-full rounded-md p-2 bg-slate-800 text-justify"
    required
   ></textarea>
  </div>
  <br />
  <div class="w-full flex justify-center">
   <button
    type="submit"
    class="flex-row text-2xl my3 text-white
   justify-center cursor-pointer hover:bg-slate-700
   focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50
   font-bold rounded-lg p-2.5 text-center
   inline-flex items-center dark:focus:ring-[#1da1f2]/55
   mr-2 hover:shadow-lg transition-all duration-200
   ease-in-out hover:scale-110 scale-90 gap-x-2
   opacity-90 hover:opacity-100"
    ><svg
     xmlns="http://www.w3.org/2000/svg"
     class="icon icon-tabler icon-tabler-brand-telegram"
     width="35"
     height="35"
     viewBox="0 0 24 24"
     stroke-width="1.5"
     stroke="currentColor"
     fill="none"
     stroke-linecap="round"
     stroke-linejoin="round"
    >
     <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
     <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
    </svg>Enviar</button
   >
  </div>
 </form>
</Layout>
