---
import Layout from "../layouts/Layout.astro";
import { PUBLIC_COMPANY_NAME } from "../env/config";
import DataCounter from "../components/DataCounter";
// import UserRepository from "../repositories/UserRepository";
// import TemplateRepository from "../repositories/TemplateRepository";
// import ProjectRepository from "../repositories/ProjectRepository";
// let _countFreelancers: number = 0,
//  _countCustomers: number = 0,
//  _countTemplates: number = 0,
//  _countProjects: number = 0;
// try {
//  const templateRepository = new TemplateRepository();
//  const projectRepository = new ProjectRepository();

//  const [
//   //@ts-ignore
//   { countFreelancers, countCustomers },
//   countTemplates,
//   countProjects,
//  ] = await Promise.all([
//   new UserRepository().countByRole(),
//   templateRepository.count(),
//   projectRepository.count(),
//  ]);

//  if (typeof countTemplates === "number" || typeof countProjects === "number") {
//   _countFreelancers = countFreelancers;
//   _countCustomers = countCustomers;
//   // @ts-ignore
//   _countTemplates = countTemplates;
//   // @ts-ignore
//   _countProjects = countProjects;
//  }
// } catch (error) {
//  console.error((error as Error).message);
// }
---

<Layout title="Home">
 <section class="lg:min-h-screen flex items-center">
  <div
   class="container flex flex-col items-center px-4 py-8 lg:py-0 mx-auto text-center md:px-10 lg:px-32"
  >
   <h1
    class="text-4xl font-bold leading-none sm:text-6xl text-gray-700 dark:text-white"
   >
    Encuentra y Contrata a los Mejores Freelancers en
    <span class="text-blue-500">{PUBLIC_COMPANY_NAME}</span>
   </h1>
   <p class="px-8 mt-8 mb-12 text-lg text-gray-400">
    Descubre una amplia variedad de plantillas y publica tus proyectos para
    contratar a profesionales altamente cualificados.
   </p>
   <div class="flex flex-wrap justify-center">
    <a
     href="#get-started"
     class="px-8 py-3 m-2 text-lg font-semibold rounded bg-blue-500 text-gray-50"
    >
     Comenzar
    </a>
   </div>
  </div>
 </section>

 <section class="p-6">
  <a id="our-web"></a>
  <span
   class="block mb-2 p-6 text-xs font-bold tracking-widest uppercase lg:text-center text-blue-500"
   >Nuestra web</span
  >
  <DataCounter client:load />
 </section>
 <section class="p-6">
  <a id="get-started"></a>
  <span
   class="block mb-2 p-6 text-xs font-bold tracking-widest uppercase text-center text-blue-500"
   >Empecemos</span
  >
  <h2 class="text-5xl font-bold lg:text-center text-gray-700 dark:text-white">
   Buscar en {PUBLIC_COMPANY_NAME} es simple
  </h2>
  <div class="grid gap-6 my-16 lg:grid-cols-2">
   <div
    class="flex flex-col p-8 space-y-4 rounded-md bg-gray-100 dark:bg-slate-800"
   >
    <div
     class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-blue-500 text-gray-50"
    >
     1
    </div>
    <p class="text-2xl font-semibold">
     <b>Plantillas.</b> Encontrarás plantillas de cualquier tecnología web, propósito
     e incluso temática.
    </p>
    <a
     href="/templates"
     class="text-blue-500 hover:text-blue-800"
     rel="noopener noreferrer">Leer más</a
    >
   </div>
   <div
    class="flex flex-col p-8 space-y-4 rounded-md bg-gray-100 dark:bg-slate-800"
   >
    <div
     class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-blue-500 text-gray-50"
    >
     2
    </div>
    <p class="text-2xl font-semibold">
     <b>Proyectos.</b> Publica todos tus proyectos y encuentra a la persona indicada
     para ayudarte!
    </p>
    <a
     href="/projects"
     class="text-blue-500 hover:text-blue-800"
     rel="noopener noreferrer"
    >
     Leer más
    </a>
   </div>
  </div>
 </section>

 <section>
  <a id="frequent-questions"></a>
  <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
   <span
    class="block mb-6 text-xs font-bold tracking-widest uppercase text-center text-blue-500"
    >Resolviendo dudas</span
   >
   <h2 class="mb-12 text-4xl font-bold leading-none text-center sm:text-5xl">
    Preguntas Frecuentes
   </h2>
   <div class="grid gap-10 md:gap-8 sm:p-3 md:grid-cols-2 lg:px-12 xl:px-32">
    <article>
     <h3 class="font-semibold">¿Qué es un freelancer?</h3>
     <p class="mt-1 dark:text-gray-400">
      Freelancer es un profesional que se encarga de vender plantillas en
      nuestra plataforma y al mismo tiempo ofrece sus servicios a los clientes.
     </p>
    </article>
    <article>
     <h3 class="font-semibold">¿Cuándo soy un cliente?</h3>
     <p class="mt-1 dark:text-gray-400">
      Cuando te registras como cliente y empiezas a publicar proyectos para que
      los freelancers puedan ofrecer soluciones a esos proyectos.
     </p>
    </article>
    <article>
     <h3 class="font-semibold">
      ¿Puedo ser cliente y freelancer al mismo tiempo?
     </h3>
     <p class="mt-1 dark:text-gray-400">
      Por motivos de seguridad, estamos obligados a limitar a los usuarios a un
      tipo de cuenta asegurando así la integridad de los datos de los clientes.
     </p>
    </article>
    <article>
     <h3 class="font-semibold">
      ¿Puedo pasar de ser cliente a freelancer o visceversa?
     </h3>
     <p class="mt-1 dark:text-gray-400">
      Actualmente, al momento de crear tu usuario y seleccionar el tipo que
      deseas ser, no podrás revertir esos cambios.
     </p>
    </article>
   </div>
  </div>
 </section>
</Layout>
