---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
 <div
  class="w-full py-3 lg:px-11 grid lg:grid-cols-2 gap-7 justify-around align-middle items-center sm:grid-cols-1"
 >
  <a
   class="bg-slate-700 py-9 px-12 text-center
   items-center hover:scale-110 transition-all mx-3"
   href="/templates"
  >
   <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-template mb-3 mx-auto rounded-full border-white border-2 p-3"
    width="70"
    height="70"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
   >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path
     d="M4 4m0 1a1 1 0 0 1 1 -1h14a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-14a1 1 0 0 1 -1 -1z"
    ></path>
    <path
     d="M4 12m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
    ></path>
    <path d="M14 12l6 0"></path>
    <path d="M14 16l6 0"></path>
    <path d="M14 20l6 0"></path>
   </svg>
   <h1 class="text-3xl mb-3 font-bold">Plantillas</h1>
   <p
    class="text-justify leading-relaxed lg:text-xl text-gray-300 font-semibold"
   >
    Encontrarás plantillas de cualquier tecnología web, propósito e incluso
    temática, va desde lo más simple hasta aplicaciones totalmente completas,
    listas solo para descargar!
   </p>
  </a>
  <a
   class="bg-slate-700 py-9 px-12 text-center
   items-center hover:scale-110 transition-all mx-3"
   href="/projects"
  >
   <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-air-balloon mb-3 mx-auto rounded-full border-white border-2 p-3"
    width="70"
    height="70"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
   >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path
     d="M10 19m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"
    ></path>
    <path d="M12 16c3.314 0 6 -4.686 6 -8a6 6 0 1 0 -12 0c0 3.314 2.686 8 6 8z"
    ></path>
    <path d="M12 9m-2 0a2 7 0 1 0 4 0a2 7 0 1 0 -4 0"></path>
   </svg>
   <h1 class="text-3xl mb-3 font-bold">Proyectos</h1>
   <p
    class="text-justify leading-relaxed lg:text-xl text-gray-300 font-semibold"
   >
    Encontrarás plantillas de cualquier tecnología web, propósito e incluso
    temática, va desde lo más simple hasta aplicaciones totalmente completas,
    listas solo para descargar!
   </p>
  </a>
 </div>
</Layout>
