---
import { PUBLIC_COMPANY_NAME } from "../env/config";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Licencia">
 <h1>Política de Licencia</h1>
 <p class="text-justify pt-6">
  <b>Fecha de vigencia:</b> Nuestra Política de Privacidad ha sido actualizada y
  entró en vigor el 26 de mayo del 2024.
 </p>

 <h2 class="mt-14 pb-6">1. Introducción</h2>
 <p>
  Esta Política de Licencia describe los términos y condiciones bajo los cuales
  se otorgan las licencias de uso de los productos y servicios proporcionados
  por {PUBLIC_COMPANY_NAME} ("nosotros", "nuestro"). Al utilizar nuestros productos
  y servicios, usted ("licenciatario", "usted") acepta estar sujeto a los términos
  de esta política.
 </p>

 <h2 class="mt-14 pb-6">2. Licencia de Uso</h2>
 <p>
  Concedemos al licenciatario una licencia no exclusiva, intransferible y
  limitada para usar nuestros productos y servicios de acuerdo con los términos
  establecidos en esta política y cualquier acuerdo adicional aplicable.
 </p>

 <h2 class="mt-14 pb-6">3. Uso Permitido</h2>
 <p>El licenciatario puede utilizar los productos y servicios para:</p>
 <ul>
  <li>
   3.1. Fines personales y comerciales de acuerdo con la licencia adquirida.
  </li>
  <li>
   3.2. Desarrollar, personalizar y distribuir contenido basado en nuestros
   productos.
  </li>
 </ul>

 <h2 class="mt-14 pb-6">4. Restricciones de Uso</h2>
 <p>El licenciatario no puede:</p>
 <ul>
  <li>
   4.1. Redistribuir, vender, alquilar o sublicenciar nuestros productos y
   servicios a terceros.
  </li>
  <li>
   4.2. Modificar, descompilar, desensamblar o aplicar ingeniería inversa a
   cualquier parte de nuestros productos y servicios.
  </li>
  <li>
   4.3. Usar nuestros productos y servicios de manera ilegal o para cualquier
   propósito que infrinja los derechos de terceros.
  </li>
 </ul>

 <h2 class="mt-14 pb-6">5. Propiedad Intelectual</h2>
 <p>
  Todos los derechos de propiedad intelectual sobre nuestros productos y
  servicios, incluyendo, pero no limitándose a, derechos de autor, patentes,
  marcas comerciales y secretos comerciales, son y seguirán siendo propiedad
  exclusiva de {PUBLIC_COMPANY_NAME}. El licenciatario no adquiere ningún
  derecho sobre nuestros productos y servicios, excepto los derechos limitados
  otorgados bajo esta política.
 </p>

 <h2 class="mt-14 pb-6">6. Actualizaciones y Soporte</h2>
 <p>
  Podemos proporcionar actualizaciones y soporte para nuestros productos y
  servicios a nuestra discreción. Estas actualizaciones pueden incluir mejoras,
  nuevas funciones o correcciones de errores.
 </p>

 <h2 class="mt-14 pb-6">7. Terminación</h2>
 <p>
  Nos reservamos el derecho de rescindir la licencia en cualquier momento si el
  licenciatario incumple los términos de esta política. Al rescindir la
  licencia, el licenciatario deberá dejar de usar nuestros productos y servicios
  y eliminar todas las copias de ellos en su posesión.
 </p>

 <h2 class="mt-14 pb-6">8. Limitación de Responsabilidad</h2>
 <p>
  No seremos responsables de ningún daño indirecto, incidental, especial o
  consecuente que surja del uso o la incapacidad de usar nuestros productos y
  servicios, incluso si hemos sido informados de la posibilidad de dichos daños.
 </p>

 <h2 class="mt-14 pb-6">9. Modificaciones</h2>
 <p>
  Nos reservamos el derecho de modificar esta Política de Licencia en cualquier
  momento. Las modificaciones se publicarán en nuestro sitio web y serán
  efectivas a partir de la fecha de publicación. Se recomienda al licenciatario
  revisar esta política periódicamente para estar informado de cualquier cambio.
 </p>

 <h2 class="mt-14 pb-6">10. Contacto</h2>
 <p>
  Si tiene alguna pregunta sobre esta Política de Licencia, puede contactarnos
  en:
 </p>
 <p>
  [{PUBLIC_COMPANY_NAME}]<br />
  [Dirección Postal]<br />
  [Correo Electrónico]<br />
  [Teléfono]
 </p>
</Layout>
