---
import { PUBLIC_COMPANY_NAME } from "../env/config";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Políticas de Privacidad">
 <h1>Política de Privacidad</h1>
 <p class="text-justify pt-6">
  <b>Fecha de vigencia:</b> Nuestra Política de Privacidad ha sido actualizada y
  entró en vigor el 26 de mayo del 2024.
 </p>
 <h2 class="mt-14 pb-6">1. Introducción</h2>
 <p class="text-justify">
  Bienvenido a [Nombre del Sitio Web]. Esta Política de Privacidad explica cómo
  recopilamos, usamos, divulgamos y protegemos su información cuando visita
  nuestro sitio web [URL del Sitio Web] y utiliza nuestros servicios. Nos
  comprometemos a proteger su privacidad y a garantizar que su información
  personal esté segura.
 </p>

 <h2 class="mt-14 pb-6">2. Información que Recopilamos</h2>
 <p class="text-justify">
  Recopilamos diferentes tipos de información para proporcionar y mejorar
  nuestros servicios:
 </p>
 <ul>
  <li>
   <strong>2.1. Información Personal:</strong> Nombre, dirección de correo electrónico,
   número de teléfono, y otra información de contacto.
  </li>
  <li>
   <strong>2.2. Información de Uso:</strong> Datos sobre cómo interactúa con nuestro sitio
   web, incluyendo su dirección IP, tipo de navegador, páginas visitadas y tiempo
   de visita.
  </li>
  <li>
   <strong>2.3. Información de Pago:</strong> Detalles necesarios para procesar pagos,
   como información de tarjetas de crédito/débito y detalles de transacciones.
  </li>
 </ul>

 <h2 class="mt-14 pb-6">3. Uso de la Información</h2>
 <p class="text-justify">Utilizamos la información recopilada para los siguientes propósitos:</p>
 <ul>
  <li>3.1. Proveer y mantener nuestros servicios.</li>
  <li>3.2.Mejorar y personalizar su experiencia en nuestro sitio web.</li>
  <li>3.3.Procesar transacciones y enviar confirmaciones.</li>
  <li>
   3.4. Comunicarnos con usted, responder a sus consultas y proporcionarle
   asistencia.
  </li>
  <li>3.5. Enviar actualizaciones, noticias y promociones.</li>
  <li>
   3.6. Monitorear y analizar el uso del sitio web para mejorar nuestras
   funcionalidades.
  </li>
 </ul>

 <h2 class="mt-14 pb-6">4. Divulgación de la Información</h2>
 <p class="text-justify">
  Podemos divulgar su información personal en las siguientes circunstancias:
 </p>
 <ul>
  <li>
   <strong>4.1. Con su Consentimiento:</strong> Cuando tengamos su consentimiento para
   compartir la información.
  </li>
  <li>
   <strong>4.2. Proveedores de Servicios:</strong> Con terceros que nos ayudan a operar
   nuestro sitio web, realizar negocios o proporcionar servicios.
  </li>
  <li>
   <strong>4.3. Obligaciones Legales:</strong> Cuando sea necesario para cumplir con leyes,
   regulaciones, procesos legales o solicitudes gubernamentales.
  </li>
 </ul>

 <h2 class="mt-14 pb-6">5. Seguridad de la Información</h2>
 <p class="text-justify">
  Implementamos medidas de seguridad para proteger su información personal
  contra el acceso no autorizado, la alteración, divulgación o destrucción. Sin
  embargo, ningún método de transmisión por internet o almacenamiento
  electrónico es completamente seguro, por lo que no podemos garantizar la
  seguridad absoluta.
 </p>

 <h2 class="mt-14 pb-6">6. Retención de Datos</h2>
 <p class="text-justify">
  Retenemos su información personal solo durante el tiempo necesario para
  cumplir con los propósitos para los cuales fue recopilada, incluyendo cumplir
  con obligaciones legales, resolver disputas y hacer cumplir nuestros acuerdos.
 </p>

 <h2 class="mt-14 pb-6">7. Sus Derechos</h2>
 <p class="text-justify">
  Dependiendo de su ubicación, puede tener ciertos derechos sobre su información
  personal, incluyendo el derecho a acceder, corregir, actualizar o solicitar la
  eliminación de su información. Para ejercer estos derechos, puede contactarnos
  a [Dirección de Correo Electrónico de Contacto].
 </p>

 <h2 class="mt-14 pb-6">8. Cambios en la Política de Privacidad</h2>
 <p class="text-justify">
  Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le
  notificaremos cualquier cambio publicando la nueva Política de Privacidad en
  esta página y actualizando la fecha de vigencia. Le recomendamos que revise
  esta Política de Privacidad periódicamente para estar informado de cualquier
  cambio.
 </p>

 <h2 class="mt-14 pb-6">9. Contacto</h2>
 <p class="text-justify">
  Si tiene preguntas o inquietudes sobre esta Política de Privacidad, puede
  contactarnos en:
 </p>
 <p class="text-justify">
  [{PUBLIC_COMPANY_NAME}]<br />
  [Dirección Postal]<br />
  [Correo Electrónico]<br />
  [Teléfono]
 </p>
</Layout>
