---
import { PUBLIC_COMPANY_NAME } from "../env/config";
import Layout from "../layouts/Layout.astro";
import PrettyForm from "../components/common/PrettyForm.astro";
export const prerender = false;
const token = Astro.cookies.get("jwt")?.value;
if (token) return Astro.redirect(`/user/profile`);
---

<Layout title="Register">
  <PrettyForm>
    <img 
    slot="header-before-form"
    src="/public/favicon.svg"
    alt="icon"
    width="60"
    height="60"
    class="mx-auto bg-blue-500 rounded-lg"
  />
  <h1 slot="header-before-form" class="text-center text-3xl">
    Bienvenido a {PUBLIC_COMPANY_NAME}
  </h1>
  <span slot="header-before-form" class="text-center text-lg text-0 dark:text-slate-500">
    Cree su cuenta en {PUBLIC_COMPANY_NAME}
  </span>
  <label class="flex flex-col my-2  font-semibold">
    Correo:
    <input
      type="email"
      name="email"
      required
      class="rounded-md my-1 bg-transparent border border-slate-400 p-3 text-slate-500 focus:text-slate-300"
    />
  </label>
  <label class="flex flex-col my-2  font-semibold">
    Nombre de Usuario:
    <input
      type="text"
      name="username"
      required
      class="rounded-md my-1 bg-transparent border border-slate-400 p-3 text-slate-500 focus:text-slate-300"
    />
  </label>
  <label class="flex flex-col my-2  font-semibold">
    Password:
    <input
      type="password"
      name="password"
      required
      class="rounded-md my-1 bg-transparent border border-slate-400 p-3 text-slate-500 focus:text-slate-300"
    />
  </label>
  <label class="flex my-2  font-semibold">
    <select
      id="role"
      name="role"
      class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-slate-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-slate-400"
    >
      <option selected>Elige tu tipo de Cuenta</option>
      <option value="freelancer">Soy Freelancer</option>
      <option value="customer">Soy Cliente</option>
    </select>
  </label>
  <section slot="footer-after-form" class="mx-auto">
    <p class="">¿Ya tienes cuenta? <a href="/login" class="text-blue-500 hover:underline">Iniciar sesión</a></p>
  </section>
  </PrettyForm>
  <script>
    import UserRepository from "../repositories/UserRepository";
    import { Role } from "../types/api";
    import { setCookie } from "../util/cookies";

    document.querySelector("form")?.addEventListener("submit", async (e) => {
      e.preventDefault();
      const form = e.target;
      const data = new FormData(form as HTMLFormElement);
      console.log(data.get("role") as string);
      const userRepository = new UserRepository();
      const email = data.get("email") as string;
      const username = data.get("username") as string;
      const role = data.get("role") as string;
      const password = data.get("password") as string;
      const user = await userRepository.signup({
        username,
        email,
        password,
        // @ts-ignore
        role: Role[role],
      });

      if (user instanceof Error) {
        alert(user.message);
      } else {
        //@ts-ignore
        setCookie("email", user.user.email as string);
        //@ts-ignore
        setCookie("jwt", user.jwt as string);
        //@ts-ignore
        setCookie("id", user.user.id + "");
        //@ts-ignore
        setCookie("username", user.user.username as string);
        location.href = "/user/profile";
      }
    });
  </script>
</Layout>

