---
import Layout from "../layouts/Layout.astro"
import { PUBLIC_COMPANY_NAME } from "../env/config";
---

<Layout title="Términos y Condiciones">
 
 <h1>Términos y Condiciones</h1>
 <p class="text-justify pt-6">
 <b>Fecha de vigencia:</b> Nuestra Política de Privacidad ha sido actualizada y
 entró en vigor el 26 de mayo del 2024.
</p>

<h2 class="mt-14 pb-6">1. Introducción</h2>

<p>
 Bienvenido a {PUBLIC_COMPANY_NAME}. Al utilizar nuestro sitio web y adquirir nuestras plantillas, aceptas estos Términos y Condiciones. Si no estás de acuerdo con alguna parte de estos términos, no debes usar nuestro sitio web ni comprar nuestras plantillas.

</p>

<h2 class="mt-14">2. Uso del Sitio</h2>
<h3 class="mt-4">2.1. Acceso y Uso</h3>
<p>Se te concede un derecho limitado, no exclusivo y revocable para acceder y hacer uso del sitio web con el fin de adquirir plantillas web para tu uso personal o profesional, conforme a estos Términos y Condiciones.</p>
<h3 class="mt-4">2.2. Conducta Prohibida</h3>
<p>No debes utilizar el sitio web de manera que pueda causar daño al mismo o que sea ilegal, fraudulenta o perjudicial. No debes intentar obtener acceso no autorizado a nuestro sitio web, servidores o bases de datos.</p>

<h2 class="mt-14">3. Compra de Plantillas</h2>
<h3 class="mt-4">3.1. Procedimiento de Compra</h3>
<p>Al realizar una compra, garantizas que tienes derecho legal para utilizar cualquier método de pago que nos proporciones. Nos reservamos el derecho de rechazar cualquier pedido que realices con nosotros.</p>
<h3 class="mt-4">3.2. Precios y Pagos</h3>
<p>Todos los precios están sujetos a cambios sin previo aviso. Los pagos se procesan de manera segura a través de nuestros proveedores de pago.</p>

<h2 class="mt-14">4. Política de Devoluciones y Reembolsos</h2>
<h3 class="mt-4">4.1. Devoluciones</h3>
<p>Dado que nuestras plantillas son productos digitales descargables, no podemos ofrecer devoluciones ni reembolsos una vez que el archivo haya sido descargado. Si tienes algún problema con tu compra, contáctanos para asistencia.</p>

<h2 class="mt-14">5. Propiedad Intelectual</h2>
<h3 class="mt-4">5.1. Derechos de Autor</h3>
<p>Todas las plantillas y contenido disponible en nuestro sitio web son propiedad de {PUBLIC_COMPANY_NAME} y están protegidos por leyes de derechos de autor y propiedad intelectual.</p>
<h3 class="mt-4">5.2. Uso de Plantillas</h3>
<p>Al adquirir una plantilla, se te concede una licencia no exclusiva y no transferible para usar la plantilla según los términos especificados en nuestra [Licencia](./license). No puedes revender, redistribuir ni utilizar las plantillas de manera no autorizada.</p>

<a id="cobros-ganancias-ventas"></a>
<h2 class="mt-14">6. Cobros de Ganancias de ventas</h2>
<h3 class="mt-4">6.1. Para poder cobrar las ganancias recolectadas por la venta de plantillas, se deberá realizar el siguiente procedimiento:</h3>
<p>
 <ul>
  <li>Primero, ingresar a su perfil de usuario.</li>
  <li>Segundo, seleccionar la opción de "Mis pagos".</li>
  <li>Tercero, acumular una cantidad mínima de $100.00</li>
  <li>Cuarto y último paso, presionar la opción "Cobrar" para poder realizar dicha transacción.</li>
 </ul>
</p>
<h3 class="mt-4">6.2. Términos de Pago</h3>
<p>Deberá esperar un lapso de 1 a 10 días hábiles para poder realizar la transferencia a su cuenta stripe. Esto es debido a la gran cantidad de transacciones se realizan diariamente.</p>



<h2 class="mt-14">7. Limitación de Responsabilidad</h2>
<p>En la medida en que lo permita la ley aplicable, {PUBLIC_COMPANY_NAME} no será responsable por ningún daño indirecto, incidental, especial o consecuente que surja de tu uso del sitio web o de la adquisición de nuestras plantillas.</p>

<h2 class="mt-14">8. Modificaciones a los Términos</h2>
<p>Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Las modificaciones serán efectivas en el momento de su publicación en el sitio web. Es tu responsabilidad revisar estos términos regularmente.</p>

<h2 class="mt-14">9. Ley Aplicable</h2>
<p>Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes de [Tu País]. Cualquier disputa que surja en relación con estos términos estará sujeta a la jurisdicción exclusiva de los tribunales de [Tu País].</p>

<h2 class="mt-14">10. Contacto</h2>
<p>Si tienes alguna pregunta o inquietud sobre estos Términos y Condiciones, por favor contáctanos en [correo electrónico de contacto] o a través de nuestro <a href="./contact">formulario de contacto</a>.</p>


<p class="mt-4">
 [{PUBLIC_COMPANY_NAME}]<br />
 [Dirección Postal]<br />
 [Correo Electrónico]<br />
 [Teléfono]
</p>
</Layout>