---
import Layout from "../../layouts/Layout.astro";
import List from "../../components/purchase_history/List";
export const prerender = false;

const token = Astro.cookies.get("jwt")?.value as string;
const userId = Astro.cookies.get("id")?.value as string;

if (!token || !userId) return Astro.redirect("/login");
---

<Layout title="Mis Compras">
 <List token={token} userId={+userId} client:load />
 <section class="flex items-center h-full p-16">
  <div
   class="container flex flex-col items-center justify-center px-5 mx-auto my-8"
  >
   <div class="max-w-md text-center">
    <h2 class="mb-8 font-extrabold text-3xl text-gray-600 dark:text-gray-400">
     Descargar Archivos
    </h2>
    <p class="text-2xl font-semibold md:text-3xl">
     Presiona el botón para descargar todos los archivos.
    </p>
    <button
     id="downloadButton"
     class="mt-8 px-4 py-2 bg-blue-600 text-white rounded"
    >
     Descargar Archivos
    </button>
   </div>
  </div>
 </section>
 <script>
  //import TemplateRepository from "../../repositories/TemplateRepository";
  //import PurchaseHistoryRepository from "../../repositories/PurchaseHistoryRepository";
  const downloadButton = document.getElementById("downloadButton");
//  const templateRepository = new TemplateRepository();
  const fileUrls = [
   "http://localhost:1337/uploads/grabarpantalla_main_e351643f21.zip",
   "http://localhost:1337/uploads/strapi_1_0_0_2696369c84.zip",
  ];

  downloadButton?.addEventListener("click", async () => {
   // templateRepository.downLoad({})
   for (const url of fileUrls) {
    const a = document.createElement("a");
    a.href = url;
    // @ts-ignore
    a.download = url.split("/").pop();
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);

    // Espera 1 segundo antes de continuar con la siguiente descarga
    await new Promise((resolve) => setTimeout(resolve, 1000));
   }
  });
 </script>
</Layout>
