 ---
import { IconX } from "../components/icons/Icons";
---

<div
  id="backdrop"
  class="fixed px-3 inset-0 bg-gray-900 bg-opacity-80 z-50 text-3xl text-white flex"
>
  <button
    id="closeBackdrop"
    class="absolute top-4 cursor-pointer right-4 px-4 py-2 rounded shadow"
  >
    <IconX width="25" height="25" />
  </button>
  <div class="mx-4 my-auto w-full">
    <slot />
  </div>
</div>

<script>
  const backdrop = document.getElementById("backdrop") as HTMLDivElement;
  const closeBackdropBtn: HTMLButtonElement = document.getElementById(
    "closeBackdrop",
  ) as HTMLButtonElement;

  closeBackdropBtn.addEventListener("click", () => {
    backdrop!.style.display = "none";
  });
  backdrop.addEventListener("click", () => {
    backdrop!.style.display = "none";
  });
</script>
