---
import HeaderButton from "./HeaderButton.astro";
import ShoppingCar from "../components/cart/CartButton";
---

<header class="w-full">
 <nav
  class="
    flex col-auto gap-x-3 items-center py-3 justify-center w-full text-center
    bg-gray-200 text-gray-900
    dark:bg-slate-800 dark:text-gray-300
  "
>
  <HeaderButton href="/">
   <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-home-2"
    width="30"
    height="30"
    viewBox="0 0 24 24"
    stroke-width="2.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
   >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
    <path d="M10 12h4v4h-4z"></path>
   </svg>
   <span class="hidden lg:block">Inicio</span>
  </HeaderButton>
  <HeaderButton href={"/about"}>
   <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-info-circle"
    width="30"
    height="30"
    viewBox="0 0 24 24"
    stroke-width="2.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
   >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
    <path d="M12 9h.01"></path>
    <path d="M11 12h1v4h1"></path>
   </svg>
   <span class="hidden lg:block">Nosotros</span>
  </HeaderButton>
  <HeaderButton href={"/license"}>
   <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-certificate-2"
    width="30"
    height="30"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
   >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M12 15m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
    <path d="M10 7h4"></path>
    <path d="M10 18v4l2 -1l2 1v-4"></path>
    <path
     d="M10 19h-2a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-2"
    ></path>
   </svg>
   <span class="hidden lg:block">Licencia</span>
  </HeaderButton>
  <HeaderButton href="/login">
   <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-user-circle"
    width="30"
    height="30"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
   >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
    <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"
    ></path>
   </svg>
   <span class="hidden lg:block">Login</span>
  </HeaderButton>
  <HeaderButton>
   <ShoppingCar client:load />
  </HeaderButton>
 </nav>
</header>
