---
import HeaderButton from "./HeaderButton.astro";
import CartButton from "../components/cart/CartButton";
import {
  IconUserCircle,
  IconHome,
  IconInfoCircle,
  IconCertificate,
} from "../components/icons/Icons";
const username = Astro.cookies.get("username")?.value;
---

<header class="w-full" transition:persist>
  <section id="up"></section>
  <nav
    class="flex col-auto gap-x-3 items-center py-3 justify-center w-full text-center
    text-gray-900
    dark:bg-gray-900 dark:text-gray-300"
  >
    <HeaderButton href="/">
      <IconHome width="30" height="30" />
      <span class="hidden lg:block">Inicio</span>
    </HeaderButton>
    <HeaderButton href={"/about"}>
      <IconInfoCircle width="30" height="30" />
      <span class="hidden lg:block">Nosotros</span>
    </HeaderButton>
    <HeaderButton href={"/license"}>
      <IconCertificate width="30" height="30" />
      <span class="hidden lg:block">Licencia</span>
    </HeaderButton>
    <HeaderButton href="/login">
      <IconUserCircle width="30" height="30" />
      <span class="hidden lg:block">{username ? "Perfil" : "Login"}</span>
    </HeaderButton>
    <HeaderButton>
      <CartButton client:load />
    </HeaderButton>
  </nav>
</header>
