---
interface Props {
 href?: string;
}

const { href } = Astro.props;
---

<a
 onclick={!href ? `return false;` : ""}
 href={href}
 class="flex-row text-xl justify-center cursor-pointer font-medium p-2 text-center inline-flex items-center
    mr-2 transition-all duration-200 ease-in-out gap-x-2 border-b-4 lg:rounded-lg max-[760px]:rounded-full
    opacity-90 hover:opacity-100 hover:border-b-2
    text-blue-500 focus:text-blue-300
    dark:text-gray-300 dark:focus:text-slate-400
    border-blue-500 focus:border-blue-300
    dark:hover:border-b-2 dark:hover:border-slate-300
    dark:border-gray-600  
    "
>
 <slot />
</a>
